<div class="navbar-wagon navbar-default navbar-static-top navbar-fixed-top">
  <!-- Logo & Name -->
  <div class="navbar-left">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
    <div class="navbar-typo">
     <span>Le Parc Sauvage</span>
    </div>
  </div>


 <!-- Right Navigation -->
 <div class="navbar-wagon-right hidden-xs hidden-sm navbar-wagon-link">

  <!-- Links when logged in -->
  <%= link_to "Billeterie", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Blog", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Equipe", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Parrainage", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Contact", root_path, class: "navbar-wagon-item navbar-wagon-link" %>

  </div>


</div>

