<%= render 'shared/banner'  %>

<div class="wrapper-white">
  <div class="row">
    <div class="col section">
      <span id="ferme" class="anchor"></span>
      <div class="description">
        <h2>La mini-ferme pédagogique</h2>
        <p>"Expliquer c'est déja comprendre pourquoi !" Nous vous accueillons dans un cadre adapté et encadré par une équipe de professionnels passionnés par l'environnement.
        "Pas de question bête, nous vous répondrons"  Nous sommes continuellement présents afin de répondre à vos questionnements, des panneaux pédagogiques se trouvent tout le long du parcours pédagogique des volières tant sur les oiseaux de proie, que sur le fonctionnement des animaux, de la chaine alimentaire, de l'histoire des rapaces au fur et à mesure des siècles.</p>
      </div>
    <%= image_tag("ferme.png", alt:"ferme pédagogique") %>
    </div>
  </div>
</div>
<div class="wrapper-orange">
  <div class="row">
    <div class="col section">
      <span id="fauconnerie" class="anchor"></span>
      <%= image_tag("fauconnerie.png", alt:"fauconnerie") %>
      <div class="description">
      <h2>La fauconnerie</h2>
      <p>Faucons, buses, aigles, chouettes, hiboux et vautours vous
      accueilleront dans un parcours où vous pourrez découvrir ces
      animaux surprenants. Nos fauconniers seront présents pour vous faire
      découvrir les prouesses des oiseaux de proie lors
      d’un spectacle. </p>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-white">
  <div class="row">
    <div class="col section">
      <span id="vision" class="anchor"></span>
      <div class="description">
        <h2>Le parc de vision</h2>
        <p>Un parc de vision ou vous pourrez
        rencontrer cerfs, biches, chevreuils en
        contact direct mais également des
        enclos pour découvrir renards,
        blaireaux, putois, …
        En résumé, la plupart des animaux de
        nos
        forets a découvrir sur 2,5 km de
        chemins
        accessibles a tous. </p>
      </div>
      <%= image_tag("vision.png", alt:"parc de vision") %>
    </div>
  </div>
</div>
<div class="wrapper-orange">
  <div class="row">
    <div class="col section">
      <span id="sauvegarde" class="anchor"></span>
      <%= image_tag("sauvetage.png", alt:"centre de soin") %>
      <div class="description">
        <h2>Le centre de sauvegarde</h2>
        <p>La vocation du centre de sauvegarde de la Faune Sauvage est l’accueil exclusif d’animaux issus de la faune sauvage, en situation de détresse dans l’optique de leur ré-insertion finale en milieu naturel.
        Les centres de sauvegarde sont des établissements privés ou associatifs dont l’existence répond à deux exigences : l’une d’ordre déontologique, l’autre à caractère réglementaire. Une quarantaine d’entre eux (dont nous faisons partie) répartis sur toute la France travaillent en réseau au sein de l’Union Française des Centres de Sauvegarde (UFCS).</p>
      </div>
    </div>
  </div>
</div>
