
<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for(@post, url: path) do |f| %>
        <%= f.input :title, label: "Titre" %>
        <%= f.input :content, as: :text %>
        <%= f.input :photo, as: :file, input_html: { class: "custom-file-input" }, wrapper_html: { class: "custom-file" }, label_html: { class: "custom-file-label" } %>
        <%= f.button :submit, value: 'Publier cet article', class: "button"%>
      <% end %>
      <%= link_to "Retour à tous les articles", posts_path, class: "button" %>


    </div>
  </div>
</div>
<%= content_for :after_js do %>
  <script>
    $('.custom-file-input').on('change',function(){
      $('.custom-file-label').html($(this).val());
    });
  </script>
<% end %>
