
<div class="container">
  <div class="row">

    <div class="col">

    <h1>LES ACTUALITÉS DU PARC SAUVAGE</h1>

    <% @posts.each do |post| %>
    <div class="post-card-index">
      <div class="post-title-index">
        <%= post.title %>
      </div>
      <div class="photo-index">
        <%= image_tag(url_for(post.photo))%>
      </div>
      <div class="post-content-index">
        <%= post.content.first(400) %> (...)
      </div>
        <%= link_to "Lire la suite", post_path(post), class: "button" %>
    </div>
    <% end %>

    <% if current_user.admin? %>
        <div class="index-link">
          <%= link_to "Ajouter un article", new_admin_post_path, class: "button" %>
        </div>
    <% end %>

  </div>
  </div>
</div>


