<div class="container">
  <div class="row">
    <div class="col">

      <div class="post-card-index">
        <div class="post-title-index">
          <div class="post-title-index">
            <%= @post.title %>
          </div>
          <div class="card-inside d-flex">
            <div class="photo-index">
              <%= image_tag(url_for(@post.photo))%>
            </div>
            <div class="post-content-index">
              <%= @post.content %> <br>
            </div>
          </div>

          <%= link_to "Modifier mon article", edit_admin_post_path(@post), class: "button" %>
          <%= link_to "Supprimer cet article", admin_post_path(@post), method: :delete, data: { confirm: "Confirmer la suppression de cet article ?" }, class: "button" %>
        <br>
          <%= link_to "Retour à tous les articles", posts_path, class: "button" %>
        </div>
      </div>

    </div>
  </div>
</div>
